<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="pattern">%highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=bright_white, DEBUG=green bold, TRACE=blue} %d{HH:mm:ss.SSS} %style{[%t]}{magenta} %-100style{%logger{36}.%M():%L}{cyan} - %m%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${pattern}"/>
        </Console>
        <Routing name="RoutingAppender">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <File name="File-${ctx:threadName}" fileName="build/logs/${ctx:threadName}.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %-50style{[%c{1}]:%L} - %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="%logger{36} - %msg%n%throwable"/>
        </ReportPortalLog4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RoutingAppender"/>
            <AppenderRef ref="ReportPortalAppender"/>
        </Root>
        <Logger name="com.epam.reportportal" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ReportPortalAppender"/>
        </Logger>
        <Logger name="binary_data_logger" level="TRACE" additivity="false">
            <AppenderRef ref="ReportPortalAppender"/>
        </Logger>
    </Loggers>
</Configuration>